@{
    ViewBag.Title = "Account Settings";
}

@model Campus_Social_Network.Models.ApplicationUser



<div class="content">
    <div class="row">
        <div class="col-75">
            <div class="cont">
                <div class="edit">
                    <span class="glyphicon glyphicon-camera"></span>@Html.ActionLink("Change Profile Picture", "ChangePicture", "Student")
                    @Html.ActionLink("Change Password", "ChangePassword", "Student")
                    <br />
                </div>
                @using (Html.BeginForm())
                {
                    <hr />
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label> Change First Name*</label>
                            @Html.EditorFor(model => model.firstName)
                            @Html.ValidationMessageFor(model => model.firstName)
                        </div>
                        <div class="form-group">
                            <label> Change Last Name*</label>
                            @Html.EditorFor(model => model.lastName)
                            @Html.ValidationMessageFor(model => model.lastName)
                        </div>
                        <div class="form-group">
                            <label>Date of Birth</label>
                            @Html.TextBoxFor(m => m.dateOfBirth, new { @class = "datetime", data_val = "false"})
                            @Html.ValidationMessageFor(m => m.dateOfBirth)
                        </div>
                        <div class="form-group">
                            <label>CNIC Number*</label>
                            @Html.TextBoxFor(m => m.cnic)
                            @Html.ValidationMessageFor(m => m.cnic)
                        </div>
                        <div class="form-group">
                            <label> Change Email*</label>
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <div class="form-group">
                            <label> Change Phone Number*</label>
                            @Html.EditorFor(model => model.PhoneNumber)
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                        <hr>
                        <button type="submit" class="registerbtn">Confirm Changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="dialog-message">
    <p>
        @TempData["msg"]!
    </p>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#dialog-message").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                modal: true,
                draggable: false,
                show: { effect: 'drop', direction: "up" },
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                },
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
            if ('@TempData["msg"]' != "") {
                $("#dialog-message").dialog('open');
            }
        });
        $(function () {
            $(".datetime").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd",
                yearRange: "1900:2099"
            })
        });
    </script>
}