@using Campus_Social_Network.Models
@model Campus_Social_Network.Models.PublicNewsFeedViewModel

@{
    ViewBag.Title = "Class Group";
}

<div class="content">
    <div class="row">
        <div class="col-75">
            <div class="pagecontent">
                @using (Html.BeginForm("AddPost", "Student", FormMethod.Post, new { role = "form" }))
                {
                    <div class="post">
                        <label>Share with:</label>
                        @Html.DropDownListFor(m => m.isPublic, new SelectList(Model.privacyOptions, "isPublic", "title"))
                        <br />
                        @Html.TextAreaFor(m => m.postText, new { @class = "text-left", rows = "5", cols = "100" })
                        @Html.ValidationMessageFor(m => m.postText)
                        <br />
                        <input type="submit" class="btn" value="post">
                    </div>
                }
                <hr />
                <div class="tabs">
                    <ul class="nav nav-pills">
                        <li>@Html.ActionLink("Public", "NewsFeed", "Student")</li>
                        <li class="active"> <a href="#">Class Group</a></li>
                    </ul>
                </div>
                @foreach (Post p in Model.publicPosts.AsEnumerable().Reverse())
                {
                    var postedBy = Model.getUserByPost(p);
                    var picPath = postedBy.imagePath;
                    if (picPath == null)
                    {
                        picPath = "~/UserImages/default.png";
                    }
                    <hr />
                    <div class="posts">
                        <div class="media">
                            <div class="media-left">
                                <img src="@Url.Content(picPath)" class="media-object" style="width:60px; height:80px">
                            </div>
                            <h4 class="media-heading"><a href="#"> @postedBy.firstName @postedBy.lastName </a><small>On @p.postTime</small></h4>
                            <div class="media-body">
                                <p class="text-justify">@p.postText </p>
                            </div>
                        </div>
                        <div class="btn-group-sm">
                            <button class="btn"> Like </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="dialog-message">
    <p>
        @TempData["msg"]!
    </p>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#dialog-message").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                modal: true,
                draggable: false,
                show: { effect: 'drop', direction: "up" },
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                },
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
            if ('@TempData["msg"]' != "") {
                $("#dialog-message").dialog('open');
            }
        });
    </script>
}