@{
    ViewBag.Title = "Add Student";
}
@model Campus_Social_Network.Models.AddStudentViewModel

@using (Html.BeginForm("AddStudent", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form_description">
            <p>Fill up below form to add a new student.</p>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <hr />
        <fieldset>
            <div class="form-group">
                <label>First Name*</label>
                @Html.TextBoxFor(m => m.firstName, new { placeholder = "Enter First Name..." })
                @Html.ValidationMessageFor(m => m.firstName)
            </div>
            <div class="form-group">
                <label>Last Name*</label>
                @Html.TextBoxFor(m => m.lastName, new { placeholder = "Enter Last Name..." })
                @Html.ValidationMessageFor(m => m.lastName)
            </div>
            <div class="form-group">
                <label>Date of Birth</label>
                @Html.TextBoxFor(m => m.dateOfBirth, new { @class = "datetime", data_val = "false", placeholder = "Select Date..." })
                @Html.ValidationMessageFor(m => m.dateOfBirth)
            </div>
            <div class="form-group">
                <label>CNIC Number*</label>
                @Html.TextBoxFor(m => m.cnic, new { placeholder = "Enter CNIC Number..." })
                @Html.ValidationMessageFor(m => m.cnic)
            </div>
            <div class="form-group">
                <label>Registration Number*</label>
                @Html.TextBoxFor(m => m.registrationNumber, new { placeholder = "Enter Registration Number..." })
                @Html.ValidationMessageFor(m => m.registrationNumber)
            </div>
            <div class="form-group">
                <label>Class*</label>
                @Html.DropDownListFor(m => m.classId, new SelectList(Model.allClasses, "Id", "Name"), "Select Class")
                @Html.ValidationMessageFor(m => m.classId)
            </div>
            <div class="form-group">
                <label>Contact Number</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Enter Phone Number..." })
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
            <div class="form-group">
                <label>Email*</label>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "example@domain.com" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                <label>Password*</label>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Create Password..." })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <label>Profile Picture</label>
                <input type="file" name="UserImage" required>
            </div>
        </fieldset>
        <hr />
        <div class="form-group">
            <div>
                <input type="submit" value="Add Student" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <div id="dialog-message">
        <p>
             @TempData["msg"]!
            </p>
        </div>
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>



    <script>
        $(document).ready(function () {
            $("#dialog-message").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                modal: true,
                draggable: false,
                show: { effect: 'drop', direction: "up" },
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                },
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
            if ('@TempData["msg"]' != "") {
                $("#dialog-message").dialog('open');
            }
        });
        $(function () {
            $(".datetime").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd",
                yearRange: "1900:2099"
            })
        });
    </script>
    }



