@model IEnumerable<Campus_Social_Network.Models.Student>

@{
    ViewBag.Title = "AllStudents";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            CNIC
        </th>
        <th>
            Registration Number
        </th>
        <th>
            Class Id
        </th>
        <th>
            Contact Number
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.dateOfBirth, "{0:d MMM yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
        </tr>
    }

</table>
