@model IEnumerable<Campus_Social_Network.Models.ApplicationUser>

@{
    ViewBag.Title = "AllStudents";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            CNIC
        </th>
        <th>
            Registration Number
        </th>
        <th>
            Class Id
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Email
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.UserName != User.Identity.Name)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateOfBirth, "{0:d MMM yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cnic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.registrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.classId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }

    }

</table>
