@model IEnumerable<Campus_Social_Network.Models.Teacher>

@{
    ViewBag.Title = "AllTeachers";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Designation
        </th>
        <th>
            Contact Number
        </th>
        <th>
            Email
        </th>
        <th>
            Ratings
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailId)
            </td>
        </tr>
    }
</table>